@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 0.5rem;
   
}

::-webkit-scrollbar-track{
    background: rgb(0, 0, 0,0.8);
}

::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255,0.5);
    border-radius: 4px;
    cursor: ns-resize;
}

